{:deps
 {com.clickhouse/clickhouse-http-client {:mvn/version "0.6.2"}
  org.clojure/clojure                   {:mvn/version "1.11.3"}
  org.lz4/lz4-java                      {:mvn/version "1.8.0"}}
 :aliases
 {:run
  {:main-opts ["-m" "otel-ch-clj-mwe"]
   :jvm-opts  ["-javaagent:opentelemetry-javaagent-2.6.0.jar"]}}}
